/* general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 11vh;
}

.container {
  display: flex;
}

header,
footer {
  width: 100%;
  background-color: #04518c;
  color: #fff;
}

/* header section */
header {
  top: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 11vh;
  z-index: 1000;
}

header h1 {
  font-size: 1.7em;
  align-self: center;
  animation: header 5s ease-in 2s infinite;
}

@keyframes header {
  33% {
    text-shadow: 2px 2px 4px #f0be3f;
  }
  66% {
    text-shadow: 3px 3px 4px #daa520;
  }
  99% {
    text-shadow: 2px 2px 4px #dbbb69;
  }
}

header nav {
  align-self: center;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 3vw;
}

header nav ul li {
  align-self: center;
  text-align: center;
}

.dropdown {
  position: relative;
}

header nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  padding: 1em 0.5em;
}

header > nav > ul > li:hover {
  text-shadow: 2px 2px 5px #f9a826;
  border-left: 2px solid #f9a826;
  border-right: 2px solid #f9a826;
  transform: scale(0.9, 0.9);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #bbdcf0;
  text-shadow: none;
  margin-top: 5px;
  width: 100px;
}

.dropdown-menu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  color: rgb(39, 41, 44);
}

.dropdown-menu li a:hover {
  background-color: #04518c;
  color: #fff;
  text-shadow: none;
  font-size: 1.1em;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* aside section */
.sidebar {
  padding: 0 20px;
  background-color: #f1f5f8;
}

aside {
  position: fixed;
  top: 11vh;
  width: 25%;
  height: calc(100vh - 11vh);
  background-color: #f1f5f8;
  z-index: 900;
}

.logo {
  display: block;
  width: 200px;
  height: 200px;
  padding: 5px 0;
  margin: 0 auto;
}

aside nav ul li img {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  transition-delay: 0.1s;
}

aside nav ul li {
  list-style: none;
  margin: 5px;
}

aside nav ul li a {
  text-decoration: none;
  color: #063558;
  vertical-align: sub;
  font-size: 1em;
  font-weight: 600;
  transition-delay: 0.1s;
}

aside nav ul li a:hover {
  color: #daa520;
}

aside nav ul li a:hover .sidepic {
  opacity: 0.8;
}

aside nav ul li a span {
  display: inline-block;
  vertical-align: 24px;
  padding-left: 12px;
  margin-left: 8px;
}

.communicationIcons {
  margin: 2vh 0;
  font-size: 1.3em;
}

.communicationIcons a {
  margin-right: 5px;
  color: #063558;
  transition-delay: 100ms;
}

.communicationIcons a:hover {
  color: #daa520;
}

/* footer section */
footer {
  margin-left: 25%;
  height: auto;
}
.site-footer {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
  text-align: left;
}

.footer-section a {
  color: #fff;
}

.back-to-top {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #daa520;
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
}

.back-to-top:hover {
  background-color: #f0ce7a;
  color: #000;
}

footer p {
  color: #fff;
  font-size: 16px;
}

.footer-section a:hover {
  color: #daa520;
}
/* End general styles */

/* Start main page style */
main.index {
  margin-left: 25%;
  margin-top: 11vh;
}
main .intro,
.intro-image {
  position: relative;
}

.intro-image img {
  width: 100%;
  height: 80vh;
  padding: 0;
  margin: 0;
}

.intro-image h2 {
  position: absolute;
  display: block;
  background-color: #fffefea9;
  color: #063558;
  padding: 2px 10px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 600;
  z-index: 100;
}

p {
  font-size: 1.1em;
  color: #111111;
}

h2 {
  color: #063558;
}

.intro-text,
#cities,
#submit-city {
  padding: 2rem;
  border-bottom: 1px solid #b1b1b15e;
}

/* city of day style */
.city-of-day {
  background-color: #f5f5dc;
  padding: 2rem 2rem;
  border-bottom: 1px solid #b1b1b15e;
}

.city-of-day h2 {
  padding-bottom: 10px;
}

.city-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.city-image {
  flex: 1 1 300px;
  height: 300px;
  background-image: url("../images/kabul.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  transition: transform 0.5s ease;
}

.city-details {
  flex: 1 1 300px;
  background-color: #063558;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  transition: background-color 0.4s linear;
}

.city-details h2 {
  margin-top: 0;
  font-size: 1.8rem;
  color: #daa520;
}

.city-details ul {
  list-style: circle;
  padding-left: 1.5rem;
  line-height: 1.6;
}

.city-container:hover .city-image {
  transform: scale(1.05);
}

.city-container:hover .city-details {
  background-color: #bbdcf0;
  color: #000;
}

/* city-card-container */
.city-card-container {
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.city-card-container img {
  width: 100%;
  height: 50vh;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.city-card-container a {
  text-decoration: none;
  color: #000;
  text-align: center;
  background-color: #d4ebf2;
  border-radius: 7px;
}

.city-card-container a:hover {
  transform: scale(1.01, 1.01);
  color: #313030;
  opacity: 0.91;
}

.city-card-container a p {
  padding: 10px;
  size: 0.8em;
}

/* submit city section*/
form {
  margin-bottom: 32px;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input,
form textarea {
  width: 50%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 16px;
  border: 2px solid #0634587e;
  box-sizing: border-box;
  background-color: #d4ebf269;
  border-radius: 7px;
}

form textarea {
  width: 90%;
  resize: none;
  overflow-y: auto;
}

form input:focus,
form textarea:focus {
  border-color: #063558;
  outline: none;
  background-color: #d4ebf2;
}

form button {
  background-color: #d4ebf2;
  border: 2px solid #0634587e;
  border-radius: 7px;
  color: #111111;
  padding: 8px 24px;
  cursor: pointer;
  font-size: 1.1em;
}

form button i {
  margin-right: 20px;
  color: inherit;
}

form button:hover {
  color: #fff;
  background-color: #063558;
}

/* slider section */
.slider {
  position: relative;
  margin: 40px auto;
  width: 80%;
  height: 70vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: fade 16s infinite linear;
}

.slider img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 4s;
}
.slide:nth-child(3) {
  animation-delay: 8s;
}
.slide:nth-child(4) {
  animation-delay: 12s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* End Main Page Style*/

/* Start cities page style */
main.cities {
  margin-left: 25%;
  margin-top: 11vh;
}

.cities h1 {
  color: #063558;
  padding: 5px 15px;
  letter-spacing: 1.5px;
}

.citysection h2,
.citysection h3,
.citysection p {
  padding: 2px 20px;
}

.citysection img {
  width: 100%;
  height: 80vh;
}

.list {
  margin-left: 50px;
}

.citysection .fa-solid {
  color: #daa520;
  font-size: 1.2em;
  margin-right: 5px;
}

.city-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-bottom: 1px solid #b1b1b15e;
  margin: 10px 10px 20px 10px;
}

.city-pictures:last-child {
  border: none;
}

.city-picture-card {
  margin-bottom: 20px;
  overflow: hidden;
  height: auto;
}

.city-picture-card img {
  width: 100%;
  height: 50vh;
  object-fit: fill;
  transition: transform 0.5s ease;
  border-radius: 10px;
}

.city-picture-card:hover img {
  transform: scaleX(1.05);
}

.city-picture-card:hover {
  text-decoration: underline;
}

.city-picture-card p {
  text-align: center;
  color: #313030;
}
/* End cities page style */

/* Start gallery page style */
main.gallery {
  margin-left: 25%;
  margin-top: 11vh;
}

main.gallery section {
  margin: 28px 5px;
}
.gallery-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.gallery-card img {
  width: 100%;
  height: 40vh;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gallery-card img:hover {
  opacity: 0.9;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 140px;
  background-color: #daa520ec;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
/* End gallery page style */

/* responsive design for tablet */
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
  }
  aside {
    position: static;
    width: 100%;
    height: auto;
    top: 0;
  }

  .sidebarnav {
    display: flex;
    justify-content: space-around;
  }

  main.index,
  footer.site-footer,
  main.cities,
  main.gallery {
    width: 100%;
    margin-left: 0;
  }

  .logo {
    width: 200px;
    height: 200px;
    align-self: center;
    margin: 0;
  }

  .communicationIcons {
    transform: translateX(37%);
  }

  #submit {
    display: none;
  }
}

/* responsive design for mobile */
@media screen and (max-width: 660px) {
  h1 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
  }

  .city-card-container {
    /* main page*/
    grid-template-columns: 1fr;
  }

  .city-pictures {
    /* cities page*/
    grid-template-columns: 1fr;
    height: auto;
  }

  .gallery-cards-container {
    /* gallery page*/
    grid-template-columns: 1fr 1fr;
  }

  footer p {
    font-size: 14px;
  }
}
